/* The site-wide css */

* {
	border: 0px dotted pink;
}
body {
	background: #383838;
	margin: 0;
	font-family: verdana, sans-serif;
	font-size: 14px;
}
h1 {
	font-family: 'Oxygen', sans-serif;
	color: #c77429;
	display: inline;
}
a {
	color: #508C99;
	text-decoration: none;
}
a:visited {
	color: #1f434f;
}
a:hover {
	text-decoration: underline;
	color: #0087e7;
}
#header {
	height: 50px;
	padding: 10px;
	background: #212121;
	min-width: 960px;
	border-bottom: 5px solid #EA752E;
	margin: 0px;
}
#header img {
	float: left;
	margin: 0;
	padding-left: 10px;
}
#nav li{
	display: inline;
	float: right;
	padding-right: 15px;
	font-size: 16px;	
}
#nav a {
	color: #EA752E;
}
#content {
	border: 0px solid red;
	background: #c3c3c3;
	width: 960px;
	margin: 0 auto;
}

#feature {
	margin: 100px 50px 0px 50px;
}
/* Well these don't work.
#leftbox {
	float: left;
}
#rightbox {
	float: right;
}
*/